<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yt video downloader</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="box">
      <div class="url">
        <form class="" method="post" action="/">
          <input type="text" id="link" name="link" value="" class="enter" placeholder="Enter YT url">
        <br><br>
          <input type="submit" name="Download" class="button" value="Download">
        </form>
      </div>
      <div class="tips">
        <h3>How to download</h3>
        <ul>
          <li>Copy url of the You Tube video you want to download</li>
          <li>Paste the copied url above and click download (use Brave browser for better experience)</li>
          <li>You will be redirected to download options</li>
          <li>Click Load options, choose the quality/format you wish to download</li>
        </ul>
      </div>
    </div>

  </body>
</html>
