*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --primary-color: #fff;
  --secondary-color: black;
  --tertiary-color: gray;
}
.dark-theme{
  --primary-color: black;
  --secondary-color: #fff;
  --tertiary-color: white;
}
body{
  background-image: url("anime.jpg");
  background-size: cover;
}
#icon{
  width: 30px;
  cursor: pointer;
  flex-wrap: wrap;
}
.box{
  background-color: var(--primary-color);
  border-radius: 20px;
  opacity: 0.88;
  padding-left: 10px;
  padding-top: 20px;
  margin: 5%;
}
.url{
    text-align: center;
    margin-top: 10%;
}
#link:hover{
  box-shadow: 5px 5px var(--tertiary-color);
}
.enter{
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 600px;
  border-radius: 4px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: var(--primary-color);
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button:hover {
  text-shadow: 2px 2px var(--secondary-color);
}
.tips{
  text-align: left;
  padding: 100px;
  color: var(--secondary-color);
}
.tips h3{
  font-size: 25px;
  font-family: sans-serif;
  padding: 5px;
}
.tips ul{
  font-size: 20px;
  font-family: sans-serif;
  padding: 2px;
}
